html, body{
    margin:0px;
    padding:0px;
}


html {
	scroll-behavior: smooth;
}

ul {
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

#nav_images img{
  width: auto;
  height: 71px;

}



li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height:100px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


#languages img{
height: 20px;
}

#languages li{
float:right;
}

#languages li a{
padding: 40px;
}

#socialmedia img{
height:30px;
width:30px;
}

#socialmedia li{
float:right;
}

#socialmedia li a{
padding: 35.5px;
}

#linkedin img{
height:30px;
width:30px;
}

#linkedin li{
float:right;
}

#linkedin li a{
padding: 35.5px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.newgolf_photo {
	min-width: 100%;
	max-width: 100%;
  	position: relative;
  	top: 0;
  	left: 0;
}

.image2 {
	position: absolute;
	top: 80%;
 	left: 45%;
  	min-width: 10%;
  	max-width: 10%;
}
.image2:hover {
        opacity: 0.8;
        filter: alpha(opacity=50);
    }

.parentaboutus {
	position: relative;
	top: 0;
	left: 0;
}

.golfvirtualtxt { 
	position:relative;
	min-width: 90%;
	max-width: 90%;
	top:10vh;
	left:7.5%;

}

.fittingtxt { 
	position:relative;
	min-width: 90%;
	max-width: 90%;
	top:12vh;
	left:7.5%;
	text-align: left;
}		

.clubs { 
	position:absolute;
	top:0;
	left:60%;
	min-width: 20%;
  	max-width: 20%;

}
.buttondiv{
	position:absolute;
	left:15%;
	
}

.button {
	background-color: #262626;
	border: none;
	color: white;
	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;

}

.buttondiv1{
	position:absolute;
	left:15%;
	
}


.button:hover {
  background-color: #a8ff00;
  color: white;
}

.trackman{
	position:absolute;
	top:-60px;
	left:60%;
	min-width: 30%;
  	max-width: 30%;

}

.fittingtext{
	padding-bottom: 30%;
}

.section02{
position:absolute;
}

@media screen and (max-width:800px) {
	.trackman{
		position:relative;
		top:-50px;
		left:20%;
		min-width: 55%;
  		max-width: 55%;

}
	.clubs{
		display:none;
	}
	.golfvirtualtxt { 
		position:relative;
		min-width: 90%;
		max-width: 90%;
		top:2vh;
		left:7.5%;
		text-align: left;

}
	.fittingtxt { 
		position:relative;
		min-width: 90%;
		max-width: 90%;
		top:25px;
		left:7.5%;
		text-align: left;
}	

	.titleText{
		font-size: 23px; 
}
	.buttondiv{
		left:25vw;
}
	.buttondiv1{
		top:250px;
		left:25vw;
}
ul {
  height: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

#nav_images img{
  width: auto;
  height: 35.5px;

}


li {
  float: left;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display:block;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


#languages img{
height: 10px;
}

#languages li{
float:right;
}

#languages li a{
padding: 22px 12px;
}

#socialmedia img{
height:15px;
width:15px;
}

#socialmedia li{
float:right;
}

#socialmedia li a{
padding: 25px 20px;
}

#linkedin img{
height:15px;
width:15px;
}

#linkedin li{
float:right;
display:none;
}

#linkedin li a{
padding: 25px 20px;
}

}
