html, body{
    margin:0px;
    padding:0px;
    font-family:Helvetica;
    color: #262626;
}

body{
background-color:0;
}

ul {
  height: 6.25rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

#nav_images img{
  width: auto;
  height: 4.5rem;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 1rem;
  text-decoration: none;
}

#languages img{
height: 20px;
}

#languages li{
float:right;
}

#languages li a{
padding: 35.5px;
}

#socialmedia img{
height:30px;
width:30px;
}

#socialmedia li{
float:right;
}

#socialmedia li a{
padding: 35.5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}

.container {
  padding: 0 1rem;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

.profile{
left:50%;
}
